@media (max-width: 576px) {
  .card-container {
    padding: 3rem 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      'card-1 '
      'card-2'
      'card-3'
      'card-4'
      'card-5';
    gap: 1.5rem;
  }
}
